 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= form_for @user, :url => url_for(controller: 'adminusers', action: 'update') do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :First_Name %><br />
    <%= form.text_field :fname, autofocus: true, autocomplete: "fname" %>
  </div>

   <div class="field">
    <%= form.label :Last_Name %><br />
    <%= form.text_field :lname, autofocus: true, autocomplete: "lname" %>
  </div>



  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email%>
  </div>

 <%= form.hidden_field :id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
